body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
section {
  padding: 30px 0;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
h1 {
  font-size: 44px;
  font-weight: 600;
}
.text-highlight {
  color: #ffb122;
}
.half-width img {
  width: 100%;
}
